
<md-toolbar class="header" md-theme="{{'default-dark'}}" md-theme-watch >
    <div layout="row" layout-align="end">
        <md-autocomplete
            md-no-cache="true" 
            md-items="cityName in $ctrl.findCity($ctrl.city)" 
            md-search-text="$ctrl.city" 
            md-item-text="cityName"
            md-floating-label="Cidade">
            <span md-highlight-text="city">{{ cityName }}</span>
        </md-autocomplete>
        <md-button class="md-fab md-mini" ng-click="$ctrl.getWeatherInformation()">
            <md-icon class="material-icons">search</md-icon>
        </md-button>
    </div>
</md-toolbar>
<section>
    <div layout="row">
        <div flex-offset="10" flex="80" flex-offset-gt-sm="15" flex-gt-sm="70" flex-offset-gt-lg="15" flex-gt-lg="70"  layout="row">
            <div layout="column">
                <div layout="row">
                    <md-subheader class="md-primary">Online Friends</md-subheader>
                </div>
                <div layout="row" layout-wrap layout-align="space-around center">
                    <div ng-repeat="forecast in $ctrl.data.list" flex="100" flex-gt-xs="50" flex-gt-md="33" flex-gt-lg="25">
                        <weather-card forecast="forecast"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>