.center-align {
    text-align: center;
}
.header {
    height: 80px;
}
.icon-white {
    color: white;
}
.big-icon {
    font-size: 48px;
    height: 48px;
}
md-autocomplete {
    height: 70px !important;
}