.center-align {
    text-align: center;
}
.header {
    height: 80px;
}
.icon-white {
    color: white;
}
.medium-icon {
    font-size: 36px;
    height: 36px;
}
md-autocomplete {
    height: 70px !important;
}

.fav-active {
    color: yellow !important;
}
.fav-inactive {
    color: lightgray !important;
}